body.limitedwidth #page.drawers .main-inner {
    max-width: 1070px;
}

#page.drawers {
    margin-top: 120px
}

body.path-mod .drawer-toggler.drawer-right-toggle .btn {
    border-radius: 0!important;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    width: 250px;
    text-transform: uppercase;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: -90deg;
    background-color: #0c589c;
    color: #fff;
}

body.path-mod .drawer-toggler.drawer-right-toggle {
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
}

body.path-mod .drawer-toggler.drawer-right-toggle .btn:hover {
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
}

.contact-menu {
    border-bottom: 1px solid #cecece;
}

.contact-menu .contact {
    font-size: 12px;
    gap: 10px
}

.contact-menu .social-medias {
    gap: 10px;
    font-size: 18px;
}

.contact-menu .contact, .contact-menu .social-medias {
    flex: 1;
}

.contact-menu .contact a, .contact-menu .social-medias a {
    color: #000!important;
    transition: color .4s;
}

.contact-menu .contact a:hover, .contact-menu .social-medias a:hover {
    color: #0f6cbf!important;
    text-decoration: none;
}

.drawer-toggles .drawer-toggler {
    top: calc(120px + 0.7rem);
}

.expiration-date {
    margin-left: 0.8rem;
    max-width: 170px;
    padding: 10px;
    border-radius: 100px;
}

.expiration-date.expiration-date-green {
    background-color: rgb(17 166 118 / 50%) !important;
}

.expiration-date.expiration-date-yellow {
    background-color: rgb(240 173 78 / 50%) !important;
}

.expiration-date.expiration-date-red {
    background-color: rgb(202 49 32 / 40%) !important;
}

.expiration-date p {
    text-align: center;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    #page.drawers {
        height: calc(100vh - 120px);
    }

    .drawer-left, .drawer-right {
        top: 120px;
        height: calc(100vh - 120px);
    }
}


@media (max-width: 769px) {
    .contact-menu {
        display: none!important;
    }
}

